html,
body {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  color: rgb(1, 1, 45);
  height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgb(1, 1, 45) 31%,
    rgba(70, 213, 235, 0.841) 63%,
    rgba(70, 213, 235, 1) 100%
  );
}

input {
  font-family: "Smooch Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(239, 250, 252, 0.26);
  color: rgba(1, 1, 45, 0.747);
  padding: 5px 5px 5px 15px;
  border-radius: 20px;
  border: 2px solid rgb(1, 1, 45);
  width: 50%;
}

h1 {
  font-size: 80px;
  line-height: 70px;
  margin: 10px 0px 0px 0px;
}

footer {
  font-size: 19px;
  color: rgba(1, 1, 45, 0.747);
}
.current-block {
  display: flex;
  justify-content: space-between;
}

.current-day-week,
.current-time {
  font-size: 50px;
  text-align: right;
  line-height: 35px;
}

.current-day-week {
  line-height: 70px;
  margin: 10px 0px 0px 0px;
}
.current-temperature {
  font-size: 60px;
  line-height: 35px;
}

.bodyBlock {
  background-color: rgb(168, 242, 254);
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(1, 1, 45, 0.867);
}

.search-button {
  color: rgb(1, 1, 45);
  font-family: "Smooch Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  transition: all 150ms ease-in;
}

.search-button:hover {
  color: rgb(168, 242, 254);
  background-color: rgb(1, 1, 45);
}

.current-weather-icon {
  display: block;
  position: relative;
  transform: scale(6);
  left: 49%;
  top: 20px;
  background: linear-gradient(
    180deg,
    rgb(1, 1, 45) 31%,
    rgba(70, 213, 235, 0.841) 63%,
    rgba(70, 213, 235, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-additions {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 35px;
}

.line {
  border-bottom: 3px dotted rgba(1, 1, 45, 0.61);
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 40px 30px 10px 30px;
}

.days {
  text-align: center;
  font-size: 30px;
  background-color: rgb(1, 1, 45);
  color: rgb(70, 213, 235, 1);
  width: 20%;
  height: 200px;
  padding: 15px 0 0 0;
  border-radius: 100px;
  transition: all 150ms ease-in;
}

.days:hover {
  background-color: rgba(1, 1, 45, 0.8);
}

.forecast-icon {
  display: block;
  position: relative;
  transform: scale(4);
  top: 18%;
  background: linear-gradient(
    180deg,
    rgb(168, 242, 254) 31%,
    rgba(70, 213, 235, 0.841) 63%,
    rgba(70, 213, 235, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 10ms ease-in;
}

.forecast-temperature {
  display: block;
  position: relative;
  top: 35%;
}
